.item {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background-color: #fce6ce;
}

.item:last-of-type {
    border-bottom: none;
}

.item figure {
    margin: 0;
    padding: 0;
    width: 70%;
    flex-direction: column;
}

.item blockquote {
    margin: 0;
    text-align: left;
    font-size: 1.7rem;
    color: #39332c;
    margin-bottom: 0.5rem;
}

.item p,
.item a {
    margin: 0;
    margin-bottom: 0.3rem;
    text-decoration: none;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.redButton {
    background-color: rgb(194, 0, 0);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
    /* margin-left: auto; */
}
