.createPostButton {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.deletePostButton {
    padding: 10px;
    font-size: 16px;
    background-color: #b40e0e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.createPostBlock {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.submitButton {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.closeButton {
    padding: 10px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}
.postTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #574240;
    margin-bottom: 20px;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.usernameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10px;
    text-align: center;
}

.username {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 20px;
    border: 2px solid #b08080;
    border-radius: 10px;
    background-color: #dbd0d0;
}
