.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(168, 5, 5, 0.1);
}

.inputField {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  flex: 1;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton {
  background-color: #4caf50;
  color: white;
}

.registerButton {
  background-color: #3498db;
  color: white;
}
